<!-- TestNG'de istenilen package'lari, class'lari veya methodlari XML file ile calistirabiliriz
    XML'i calistirmak istedigimiz package ya da class üzerine sağ tiklayarak create TestNG xml
    sekmesinden oluşturabiliriz.
    Bu sekme cikmiyorsa önce File->Settings->plugins->marketplace->arama yerine xml yazıp
     TestNG xml plugin'ini install ederiz.Sonra xml file oluşturmak ici yukaridaki belirttiğimiz
     adimlari uygulariz.
-->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/bahad/IdeaProjects/B151TestNGProject/src/test/java/techproed/tests/day25_POM">
        <classes>
            <class name="techproed.tests.day25_POM.C01_DriverTest">
                <methods>
                    <include name="test01"/>
                    <include name="test02"/>
                    <include name="test03"/>
                    <include name="test04"/>
                </methods>
            </class>
            <class name="techproed.tests.day25_POM.C02_PropertiesKullanimi">
                <methods>
                    <include name="test01"/>
                </methods>
            </class>
            <class name="techproed.tests.day25_POM.C03_PropertiesKullanimi">
                <methods>
                    <include name="amazonTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>